In [31]:
import pandas as pd

In [32]:
production = pd.read_csv("https://raw.githubusercontent.com/AhmedElZubair38/pioneersHackathon2/main/production.csv")

production

    Description Blend Code Blend Description  Quantity (kg)  Sequence
0         LYL 1      B0001       Black Tea 1          30780         1
1         ENV 3      B0012       Black Tea 7           1302         1
2         ENV 1      B0009       Black Tea 4            233         1
3         ENV 2      B0010       Black Tea 5           3726         2
4   LYL Loose 3      B0004       Loose Tea 1          11328         1
5   LYL Loose 4      B0004       Loose Tea 1          13680         2
6    BB Loose 6      B0005       Loose Tea 2          28800         3
7    BB Loose 7      B0006       Loose Tea 3          17820         4
8    BB Loose 8      B0006       Loose Tea 3           3240         5
9    BB Loose 9      B0006       Loose Tea 3           8640         6
10  LYL Loose 5      B0008       Loose Tea 5           8640         7
11  LYL Loose 6      B0008       Loose Tea 5           3240         8
12  LYL Loose 7      B0007       Loose Tea 4          12960         9
13  LYL Loose 1      B0004       Loose Tea 1           6509         1
14  LYL Loose 2      B0004       Loose Tea 1          24960         2
15   BB Loose 1      B0005       Loose Tea 2          22272         3
16   BB Loose 2      B0006       Loose Tea 3           8370         4
17   BB Loose 3      B0006       Loose Tea 3           8640         5
18   BB Loose 4      B0007       Loose Tea 4          13500         6
19   BB Loose 5      B0007       Loose Tea 4          10800         7
20        LYL 2      B0002       Black Tea 2          19440         1
21        LYL 3      B0001       Black Tea 1           7920         2
22        LYL 3      B0001       Black Tea 1          14040         1
23        LYL 4      B0002       Black Tea 2           1447         1
24         BB 1      B0003       Black Tea 3          33360         2
25        LYL 5      B0010       Black Tea 5           5040         1
26       BUSH 1      B0011       Black Tea 6          15450         1
27        LYL 6      B0003       Black Tea 3          17145         1
28        LYL 7      B0001       Black Tea 1          15587         2

In [33]:
rm = pd.read_csv("https://raw.githubusercontent.com/AhmedElZubair38/pioneersHackathon2/main/RM.csv")

rm

,Blend Code,Blend Description,RM Code,RM Description,Quantity (kg),Location
0,B0001,Black Tea 1,R0001,Raw: Black Tea 1,60000,Warehouse
1,B0002,Black Tea 2,R0002,Raw: Black Tea 2,20000,Warehouse
2,B0003,Black Tea 3,R0003,Raw: Black Tea 3,50000,Warehouse
3,B0004,Loose Tea 1,R0004,Raw: Loose Tea 1,50000,Warehouse
4,B0005,Loose Tea 2,R0005,Raw: Loose Tea 2,30000,Warehouse
5,B0006,Loose Tea 3,R0006,Raw: Loose Tea 3,45000,Warehouse
6,B0007,Loose Tea 4,R0007,Raw: Loose Tea 4,40000,Warehouse
7,B0008,Loose Tea 5,R0008,Raw: Loose Tea 5,15000,Warehouse
8,B0009,Black Tea 4,R0009,Raw: Black Tea 4,0,Warehouse
9,B0010,Black Tea 5,R0010,Raw: Black Tea 5,10000,Warehouse
10,B0011,Black Tea 6,R0011,Raw: Black Tea 6,15000,Warehouse
11,B0012,Black Tea 7,R0012,Raw: Black Tea 7,2000,Warehouse

In [34]:
blendstock = pd.read_csv("https://raw.githubusercontent.com/AhmedElZubair38/pioneersHackathon2/main/blendstock.csv")

blendstock

   Blend Code Blend Description  Quantity (kg)            Location
0       B0001       Black Tea 1           6000              Silo C
1       B0001       Black Tea 1           3000              Silo D
2       B0001       Black Tea 1            800           Warehouse
3       B0002       Black Tea 2           3000              Silo E
4       B0003       Black Tea 3           4500              Silo F
5       B0004       Loose Tea 1           5000              Silo A
6       B0004       Loose Tea 1           4000              Silo B
7       B0005       Loose Tea 2              0           Warehouse
8       B0006       Loose Tea 3              0           Warehouse
9       B0007       Loose Tea 4              0           Warehouse
10      B0008       Loose Tea 5              0           Warehouse
11      B0009       Black Tea 4            500           Warehouse
12      B0010       Black Tea 5            400  Transfer Station A
13      B0011       Black Tea 6           2500           Warehouse
14      B0012       Black Tea 7            600  Transfer Station D

In [35]:
consumption = pd.read_csv("https://raw.githubusercontent.com/AhmedElZubair38/pioneersHackathon2/main/Consumption%20Rates%20%26%20Efficiencies%20of%20Production%20Lines-.csv")

consumption

        Name Ideal Consumption Rate (kg/h) Efficiency (%)
0     Line 1                          541             80%
1     Line 2                          168             71%
2     Line 3                          168             71%
3     Line 4                        1,800             83%
4     Line 5                        1,536             85%
5     Line 6                          640             83%
6     Line 7                          246             80%
7     Line 8                          640             80%
8     Line 9                          162             80%
9    Line 10                          324             80%
10   Line 11                          541             80%

In [36]:
unique_blendcode_totals = production.groupby('Blend Code')['Quantity (kg)'].sum().reset_index()

unique_blendcode_totals

   Blend Code  Quantity (kg)
0       B0001          68327
1       B0002          20887
2       B0003          50505
3       B0004          56477
4       B0005          51072
5       B0006          46710
6       B0007          37260
7       B0008          11880
8       B0009            233
9       B0010           8766
10      B0011          15450
11      B0012           1302

In [37]:
x = blendstock.groupby('Blend Code')['Quantity (kg)'].sum().reset_index()

current_blendstock = unique_blendcode_totals['Quantity (kg)'] - x['Quantity (kg)']

print(current_blendstock)

0     58527
1     17887
2     46005
3     47477
4     51072
5     46710
6     37260
7     11880
8      -267
9      8366
10    12950
11      702
Name: Quantity (kg), dtype: int64

In [38]:
x = production.groupby('Name')['Quantity (kg)'].sum().reset_index()

KeyError: 'Name'